@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base{
  body{
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
  
  }
  li:hover{
    @apply cursor-pointer
  }
}


.backgroundimg{
  background: no-repeat center center/cover;
  height: 250px;
  width:250px;
}
.backgroundimg:hover{
opacity: 0.4;
}


.containerbtn {
  position: relative;
  display: flex;
  flex:1;
  

}



.containerbtn .btn {
  position: absolute;
  bottom: -5%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
   opacity:0;
    transition:0s 190s;
}

.containerbtn .btn2 {
  position: absolute;
  bottom: -5%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
   opacity:0;
    transition:0s 180s;
}

.containerbtn:hover .btn,
.containerbtn:hover .btn2 {
    opacity: 1;
    transition: 0s;
}

@media screen and (max-width: 600px) {
  .maxbelow {
    display: grid;
    grid-template-columns: 1;
  }
}