@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
  }
  li:hover {
    @apply cursor-pointer;
  }
}
* {
  background: #0a192f;
}

.backgroundimg {
  background: no-repeat center center/cover;
  height: 250px;
  width: 250px;
}
.backgroundimg:hover {
  opacity: 0.4;
}

.navb {
  z-index: 90;
}

.containerbtn {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.containerbtn .btn {
  position: absolute;
  bottom: -5%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.containerbtn .btn2 {
  position: absolute;
  bottom: -5%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.containerbtn:hover .btn,
.containerbtn:hover .btn2 {
  opacity: 1;
  transition: 0s;
}

@media screen and (max-width: 600px) {
  .maxbelow {
    display: grid;
    grid-template-columns: 1;
  }
}

@media screen and (max-width: 480px) {
  .textsizesm {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }
}

@media screen and (max-width: 379px) {
  .textsizesm {
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
  }
}

/* For screens between 639px and 911px */
@media screen and (min-width: 640px) and (max-width: 911px) {
  .textsizess {
    margin-left: auto;
    margin-right: auto;
    font-size: 5px;
  }
}
